<phpunit bootstrap="./tests/unit/bootstrap.php" colors="true" backupGlobals="false">
    <testsuites>
        <testsuite>
            <directory>./tests/unit/src/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
